@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --color-fd-primary: hsl(18 88% 58%);
}

.dark {
  --color-fd-primary: hsl(22 95% 66%);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;
  --removed-body-scroll-bar-size: 0 !important;
}

body {
  letter-spacing: 0;
}
